.global-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--main-bg-bottom-color);
  background-image: url(../images/elements/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.global-container.show-detail .main-nav-container {
    transform: scale(1.3);
    opacity: 0;
    pointer-events: none;
}

.global-container.show-detail .detail-container {
    transform: scale(1);
    opacity: 1;
    pointer-events: all;
}



.top-bar-container {
  position: absolute;
  width: 100%;
  height: 10vh;
  background-color: var(--main-bg-top-nav-color);
  background-image: url(../images/elements/top_bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: center;

  color: white;
  z-index: 100;
}

.bottom-bar-container {
  position: absolute;
  width: 100%;
  height: 10vh;
  background-color: var(--main-bg-bottom-nav-color);
  color: white;
  bottom: 0;
  z-index: 100;
}


.main-nav-container {
    position: absolute;
    width: 100vw;
    height: 80vh;
    padding: 5vh 0;
    z-index: 99;
    top: 10vh;

    /* animations */
    transition: all 0.5s ease 0s;
}

.detail-container {
    position: absolute;
    width: 80vw;
    padding: 0 6vh;
    z-index: 98;

    /* animations */
    transition: all 0.5s ease 0s;

    /* animations initial state */
    top: 10vh;
    opacity: 0;
    pointer-events: none;
}

.detail-content {
    transition: all 0.5s ease 0s;
}


/* DEBUG */
.js-debug {
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    color: black;
    padding: 2rem;
    z-index: 9000;
    font-size: 4vw;
    border: 3px solid black;
}

