@font-face {
    font-family: ITC-Lubalin;
    src: url(../fonts/itc-lubalin-graph-negrita.ttf) format('truetype');
}

@font-face {
    font-family: Glacial-Indifference;
    src: url(../fonts/glacialindifference-normal.otf) format('opentype');
}


