.container {
  display: block;
  height: 100%;
  width: 100%;
}


.grid-table {
  table-layout: auto;
  width: 100%;
}

.grid-table td,th {
  width: auto;
  text-align: center;
  font-size: 3rem;
  color: #89888a;
}



/*
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6%; 
  width: 100%;
  margin-left: 6%;
}

.grid-element {
  aspect-ratio: 1;
  font-size: 2rem;
  text-align: center;
  color: #89888a;
}
*/



.background-settings {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
